<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logo</title>

</head>
 <body style = "background: black">
     <br>
     <div style ="display: inline-block;width: 180px;height: 180px;
  margin: 10px;border-radius: 136px; border: 20px solid violet ">
         <div style="display: inline-block; height: 160px; width: 160px;
         border: 20px solid blue;border-radius: 112px">
        <div style="display: inline-block;height: 140px;width: 140px;
         border: 20px solid blueviolet; border-radius: 98px">
        <div style="display: inline-block; height: 120px; width: 120px;
        border: 20px solid greenyellow; border-radius: 84px">
        <div style="display: inline-block; height: 100px; width: 100px;
        border: 20px solid yellow; border-radius: 70px ">
        <div style="display: inline-block; height: 80px; width: 80px;
        border: 20px solid orange; border-radius: 60px">
        <div style="display: inline-block; height: 60px; width: 60px;
        border: 20px solid red; border-radius: 50px">
        </div></div></div></div></div></div></div>
     <h1 style="color: violet;margin: 20px">violet</h1>
     <h1 style="color: blue; margin: 20px" > blue </h1>
     <h1 style="color: #8a2be2; margin: 20px"> blueyellow (#8a2be2) </h1>
     <h1 style="color: green;margin: 20px "> green </h1>
     <h1 style="color: yellow; margin: 20px "> yellow </h1>
     <h1 style="color: orange; margin: 20px"> orange </h1>
     <h1 style="color: red; margin: 20px"> red </h1>
</body>
</html>