<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>parallelogram</title>

</head>
 <body>
  <h1 style = "color: yellow; background: blue; border: 3px solid red; border-style: solid;
    width: 600px; height: 50px; text-align: center;border-radius: 10px;margin-left: 450px"
  >პარალელოგრამის კლასებად დაყოფა</h1>
<h2><b>ამოზნექილ ოთხკუთხედს, რომლის მოპირდაპირე გვერდები წყვილ-წყვილად პარალელურია პარალელოგრამი ეწოდება</b></h2>
<h3>არსებობს ოთხი ტიპის პარალელოგრამი:<br><br>
# პარალელოგრამი, რომელიც არც მართკუთხედია და არც რომბი.<br><br> ## პარალელოგრამი, რომელიც მართკუთხედია და რომბი არ არის.<br><br>
  ### პარალელოგრამი, რომელიც რომბია და მართკუთხედი არ არის.<br><br>
  #### პარალელოგრამი, რომელიც რომბიცაა და მართკუთხედიც, ანუ კვადრატია.
</h3>
<span style="display: block; width: 120px; height: 120px; padding: 5px; border: 5px solid blue;
    background-color: yellow; border-radius: 84px; padding: 8px; text-align-last: center;
    color: blue; margin-left: 680px">
    <b><br><br>პარალელოგრამი</b></span><br>
<div><span style="display: inline-block; width: 120px; height: 120px; padding: 5px;
    border: 5px solid blue; background-color: red; border-radius: 84px; padding: 8px;
    text-align-last: center; color: yellow; margin-left: 150px">
    <b><br> არც <br> მართკუთხედია<br> და <br>არც რომბი </b></span>
<span style ="display: inline-block; width: 120px; height: 120px;padding: 5px; border: 5px solid blue;
      background-color: red; border-radius: 84px; padding: 8px; text-align-last: center;
      color: yellow; margin-left: 200px">
    <b><br> <br>მართკუთხედია<br> და <br> რომბი არ არის </b></span>
<span style="display: inline-block; width: 120px; height: 120px; padding: 5px; border: 5px solid blue;
        background-color: red; border-radius: 84px; padding: 8px; text-align-last: center;
        color: yellow; margin-left: 200px">
    <b><br> რომბია<br> და <br> მართკუთხედი<br>არ არის </b></span>
<span style="display: inline-block; width: 120px; height: 120px; padding: 5px; border: 5px solid blue;
          background-color: red; border-radius: 84px; padding: 8px; text-align-last: center;
          color: yellow; margin-left: 200px">
    <b><br> რომბიცაა და <br> მართკუთხედიც,<br>ანუ <br>კვადრატია </b></span></div>
</body>
</html>